html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#section-1 {
    height: 100vh;
}

#jobs-title {
    font-size: 65px;
}

#section-2 {
    height: 100vh;
    margin: auto;
}

#section-3 {
    height: 100vh;
    margin: auto;
}

.blue {
    background-color: #4892c4;
}

.grey {
    background-color: #364049;
}

.bg-gradient {
    background: linear-gradient(#96cee9, #5da1ce);
}

.text-white ul {
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.download {
    border: 0px;
    border-radius: 50px;
    color: white;
    background-color: #5f99be;
    flex-direction: row;
    justify-content: space-around;
}

.download2 {
    border: 0px;
}

.feature {
    background-color: white;
    margin: auto;
    padding: 30px;
}

.feature:hover {
    box-shadow: 0px 0px 30px #dddddd;
}

.icon {
    max-width: 75px;
}

.paragraph {
    line-height: 30px;
}

.social {
    border: 0px;
}