.bg-gradient {
    background: linear-gradient(#96cee9, #5da1ce);
}

.blue {
    background-color: #4892c4;
}

.text-white ul {
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

button {
    radius: 50%;
}